<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dragonhope.mapper.OpenclosetypesMapper">

    <resultMap id="BaseResultMap" type="dragonhope.domain.Openclosetypes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="lengthAdjust" column="length_adjust" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,length_adjust
    </sql>
</mapper>
